<script>
    export const modifiers = [ "A", "F", "B" ];
</script>

<style>
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        position: relative;

        height: 100%;
        width: 100%;
        
        padding: 0.2rem;

        /* TODO: Border when highlighted */
        border: 0.2rem solid gray;
    }

    .attack {
        padding: 0.2rem;

        height: 100%;
        width: 100%;

        background-color: gray;
    }

    .empty {
        background-image: url("../img/empty-attack-icon.svg");
        background-color: gold;
    }

    .data {
        position: absolute;
        bottom: 0.2rem;

        width: 100%;
    }

    .damage {
        font-size: 0.8rem;
        font-weight: bold;
        
        color: white;
    }

    .modifiers {

    }
</style>

<div class="flex container">
    <div class="flex attack">
        <div class="iconography">

        </div>
        
        <div class="data">
            <div class="flex damage">
                108
            </div>

            <div class="flex modifiers">
                {#each modifiers as modifier}
                    {modifier}
                {/each}
            </div>
        </div>    
    </div>
</div>